* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 50px;
  background-color: antiquewhite;
}

.lists a {
  text-decoration: none;
  color: black;
  margin-left: 25px;
  font-size: 18px;
}

.lists a:hover {
  color: crimson;
}
